#Mac stuff
.DS_Store
sample/.DS_Store
*/.DS_Store

# IDE stuff
.idea/
.vscode
.run/

# Cargo & Rust stuff
Cargo.lock
**/*.rs.bk
package-lock.json

# This is for testing purposes
PATH_TEST_*/
phink_temp_test.toml
instrumented_*/
output*/

# Compilation targets
target
debug/
target/